@import "../../../varCss/colors.module.css";
.detailButton{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: var(--color-gray-medium);
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: auto;  
}